wheel
evdev
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openrouter
annotated-types
anyio
asgiref
attrs
bcrypt
beautifulsoup4
blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
distro
filelock
firebase-admin
Flask
flask-cors
Flask-Login
fonttools
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httpx
Hypercorn
hyperframe
idna
itsdangerous
Jinja2
jiter
keyboard
kiwisolver
MarkupSafe
matplotlib
MouseInfo
mpmath
msgpack
networkx
numpy
openai
opencv-python
packaging
pandas
pillow
playwright
priority
proto-plus
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic_core
pyee
PyGetWindow
PyJWT
PyMsgBox
PyMuPDF
pynput
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-dotenv
python-xlib
python3-xlib
pytweening
pytz
PyYAML
pyzmq
requests
rsa
scipy
seaborn
setuptools
six
sniffio
soupsieve
sqlparse
sympy
torch
torchvision
tqdm
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
uritemplate
urllib3
userpaths
Werkzeug
wsproto
zmq
python-docx
